* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	margin: 0;
	font-family: 'Roboto Mono', monospace;
	color: #3B444F;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul, li {
	list-style: none;
	margin: 0;
	padding: 0;
}
.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	text-align: center;
}
.signup-wrapper {
	background: #F0F6F9;
}
.signup {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	padding: 32px 0;
}
.signup p {
	font-size: 16px;
	font-weight: 100;
}
.signup .btn {
	display: inline-block;
	font-weight: 300;
	font-size: 12px;
	color: #fff;
	padding: 14px 24px;
	background: rgb(39, 123, 186, 1);
	border-radius: 28px;
	margin-left: 16px;
}
.signup .btn:hover {
	background: rgb(39, 123, 186, 0.9);
}
